@import './../../style/lib/_vars.scss';

.stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.stats h2{
  font-family: $font-primary;
  font-size: $font-mobile-lg;
  grid-column: 2 / 4;
  justify-self: start;
}
.statItem{
  grid-area: c;
}
.statContainer-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / 7;
}
