.skillItem{
  display: grid;
  grid-area: c;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
		"m m m m m m"
    "c c c c c c"
    "c c c c c c"
    "f f f f f f";
  grid-template-columns: 1 / 7;
  grid-row: auto;
}
.skillItem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: auto;
  grid-column: 1 / 7;
}
