body{
  background-image: url("./../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bigwrap{
  background-color: rgba(68, 132, 206, 0.75);
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: $black;
  &:visited{
    color: $black;
  }
}
.fa{
  font-size: $font-button;
}
button {
  padding: $gutter-lg;
  font-weight: bold;
  font-size: $font-mobile-lg;
  cursor: pointer;
  border: 2px solid black;
  background-color: $gold;
  text-shadow: none;
  border-radius: $border-radius;
  font-family: $font-secondary;



  &.new {
    background-color: $blue;

    &:hover{
      color:$white;
    }
  }

  &.delete {
    color: $black;
    background-color: $orange;
    &:hover{
      color: $white;
    }
  }
  &.edit {
    color: $black;
    &:hover{
      color: $white;
    }
  }
  &.roll {
    color: $black;
    &:hover{
      color: $white;
    }
  }
}
