body{
  //background-image: url("../../images/attackeratorLogo.png");
}
a{
  text-decoration: none;
  color: $black;
  &:visited{
    color: $black;
  }
}
.fa{
  font-size: $font-button;
}
button {
  padding: $gutter-lg;
  font-weight: bold;
  font-size: $font-mobile-lg;
  cursor: pointer;
  border: none;
  background-color: $gold;
  text-shadow: none;
  border-radius: $border-radius;
  font-family: $font-secondary;


  &.new {
    background-color: $blue;

    &:hover{
      color:$white;
    }
  }

  &.delete {
    color: $black;
    background-color: $orange;
    &:hover{
      color: $grey;
    }
  }
  &.edit {
    color: $black;
    &:hover{
      color: $grey;
    }
  }
  &.roll {
    color: $black;
    &:hover{
      color: $grey;
    }
  }
}
