@import './../../style/lib/_vars.scss';

.signin-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "t t t t t t"
    "u u u u u u"
    "p p p p p p"
    "b b b b b b"
    "l l l l l l";

  padding: 2em;
  }
.signIn{
  grid-area: t;
  font-family: $font-primary;
  font-size: 10vw;
  justify-self: center;
  padding-top: 5em;
}
input[name="username"]{
  grid-area: u;
  font-size: $font-mobile-lg;
  font-family: $font-secondary;
}
input[name="password"]{
  grid-area: p;
  font-size: $font-mobile-lg;
  font-family: $font-secondary;
}
.submitSignIn{
  grid-area: b;
}
.signUp{
  grid-area: l;
  font-family: $font-secondary;
}
.signUp a{
  text-align: center;
}
