@import './../../style/lib/_vars.scss';


.dash-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dash-head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / 7;
  padding-top: $gutter-lg;
  padding-bottom: $gutter-lg;
}
.dash-head .logo{
  grid-column: 1 / 2;
  background-image: url("../../images/attackeratorLogo.png");
  height: 15vw;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  justify-content: center;
}
.dash-head h2{
  grid-column: 2 / 6;
  font-family: $font-primary;
  font-size: 10vw;
  align-self: center;
  text-align: center;
}
.profile{
  display: grid;
  grid-column: 1 / 7;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: $gutter-lg;
  font-size: 3vw;
  font-family: $font-secondary;
}
.profileMenu{
  grid-column: 6 / 7;
  align-self: center;
}
.profileMenu .fa{
  font-size: 12vw;
}
.yourName{
  font-size: 10vw;
  font-family: $font-primary;
}
.midIndex .noHover:hover{
  background-color: transparent;
  border: 2px solid transparent;

}
