@import './../../style/lib/_vars.scss';


.dash-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dash-head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / 7;
  padding-top: $gutter-lg;
  padding-bottom: $gutter-lg;
}
.dash-head .logo{
  grid-column: 1 / 2;
  background-image: url("../../images/attackeratorLogo.png");
  height: 12vw;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  justify-content: center;
}
.dash-head h2{
  grid-column: 2 / 6;
  font-family: $font-primary;
  font-size: 10vw;
  align-self: center;
  text-align: center;
}
.profile {
  grid-column: 6 / 7;
  align-self: center;
}
.profile .fa{
  font-size: 10vw;
}
