<html>
<head>
  <link rel="shortcut icon" href="./images/attackeratorLogo.png" />
  <link href="https://fonts.googleapis.com/css?family=Passion+One|Quattrocento+Sans" rel="stylesheet">
  <script src="https://use.fontawesome.com/88c8df518c.js"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class= bigwrap>
    <div id="root"></div>
  </div>
</body>
</html>
